.photo {
    object-fit: cover;
    height: 200px;
    width: 40%;
    border: 0.25rem solid hsl(205, 89%, 70%);
    border-radius: 0.25rem;
    display: block;
    box-shadow: 0px 0px 40px -5px rgba(0,0,0,0.45);
}
.recipes-section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    width: 95vw;
    grid-template-columns: 1fr 1fr;
    gap: 3rem 2rem;
    justify-items: center;
}

.recipe-item {
    display: flex;
    flex-direction: row;
}

.recipe-info header {
    border-bottom: 0.5px dotted grey;
    margin-left: 20px;
}
.recipe-info h4 {
    margin-bottom: 0.5rem;
    margin-top: 2px;
}

.ingredients-list {
    text-align: left;
    min-height: 100px;
}
.additional-info {
    margin-left: 20px;
}
.additional-info i {
    color: hsl(205, 89%, 70%);
    font-size: 20px;
    position: relative;
    top: 4px;
}